<!doctype html>
<html>
    {% include head.html %}
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
          <header class="masthead">
            <h1>PROVOKE</h1>
            <nav>
              <ul><a href="">About</a></ul>
              <ul><a href="">Press</a></ul>
              <ul><a href="">Contact</a></ul>
            </nav>
          </header>

        {{ content }}

        {% include footer.html %}
    </body>
</html>
